* {
    margin: 0;
    padding: 0;
}
/* body {
    margin: 0;
} */
.header_line {
    height: 86px;
    background-color: #D9D9D9;
    margin: 0 auto;
}
.link {
    font-family: interLight;
    font-size: 18px;
    color: #000;
    text-underline-offset: 3px;
    padding-bottom: 29px;
    text-decoration: none;
}
.nav {
    max-width: 636px;
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 30px;
    grid-auto-flow: column;
    justify-content: space-around;
}
.link:hover {
    color:#3F7CF5;
    border-bottom: 5px solid #3F7CF5;
    text-decoration: none;

}
.circle {
    height: 59px;
    width: 59px;
    border-radius: 50%;
    background-color: #8C8A8A;
    margin: 0;
    display: flex;
    position: relative;
    margin-left: 1750px;
    margin-top: -73px;
}
.circle img {
    display: flex;
    position: absolute;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
h1 {
    margin-top: 41px;
    margin-left: 52px;
    font-size: 32px;
    font-family: interRegular;
}
.search__input {
    width: 350px;
    height: 45px;
    font-family: interExtraLight;
    font-size: 16px;
}
p img{
    margin-bottom: -10px;
}
p {
    margin-left: 633px;
}
/* .img-search {
    margin-left: -20px;
} */
.filter-btn {
    height: 60px;
    width: 131px;
    font-family: interExtraLight;
    font-size: 16px;
    text-align: center;
    background-color: #ffffff;
    box-shadow: 0 4px 4px 0 #00000025;
    border: solid 1px;
}
.filter-btn:hover {
    cursor: pointer;
}
.create-btn {
    height: 60px;
    width: 156px;
    font-family: interRegular;
    font-size: 17px;
    color: #ffffff;
    background-color: #55ADD6;
    box-shadow: 0 4px 4px 0 #00000025;
    transition: all 500ms ease;
    border: 0;
}
.create-btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}
.func-block {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    margin-top: 34px;
}
.choiser {
    width: 237px;
    height: 48px;
    background-color: transparent;
    font-family: interRegular;
    font-size: 20px;
}
.class-choice {
    margin-top: 51px;
    margin-left: 93px;
}
.table-info {
    margin-top: 116px;
    margin-left: 41px;
    width: 1820px;
    height: 432px;
    background-color: #E9E8E8;
}
td {
    border: 1px solid #00000022;
    font-family: interRegular;
    font-size: 18px;
}
.title-table {
    font-family: interExtraLight;
    font-size: 18px;
    text-align: center;
}
td img {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 400px;
}
@font-face {
    font-family: interLight;
    src: url("../Fonts/Inter-Light.otf");
}
@font-face {
    font-family: interRegular;
    src: url("../Fonts/Inter-Regular.otf");
}
@font-face {
    font-family: interExtraLight;
    src: url("../Fonts/Inter-ExtraLight.otf");
}
